/* Setup Start */
* {
    /* Alternative Box Model */
    box-sizing: border-box;

    /* Reset Padding & Margin On All Elements */
    padding: 0;
    margin: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.55;

    min-height: 100%;
    min-width: 100%;

    display: inline;

    background-color: rgb(22 ,22 ,29);
}
/* Setup End */

/* Nav-Bar Start */
.nav-bar {
    position: fixed;
    background: rgba(22 ,22 ,29, 90%);
    padding-bottom: 1rem;

    width: 100%;
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 5rem;

    align-items: baseline;
    justify-content: space-between;

    padding-left: 5rem;
    padding-right: 5rem;
}

.nav-ul-mobile-false {
    display: flex;
    list-style: none;
    gap: 5rem;

    align-items: baseline;
    justify-content: space-between;

    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color: rgb(242, 242, 242);

    border-bottom: 3.5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    border-style: solid;
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;

    border-image: linear-gradient(45deg, #C4586E, #C4586E) 1;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(242, 242, 242);
}

a:hover {
    /* background-image: linear-gradient(45deg,#F67280, #C06C84); */
    color: rgb(78, 157, 169);
    font-weight: 900;
}

#home-button {
    font-size: 2.5rem;
}
/* Nav_Bar End */

/* Main Content Start */
.main-content {
    padding-top: 7.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.lead {
    display: flex;
    justify-content: space-around;
}

h1 {
    display: inline;

    font-size: 2.5rem;
    color: rgb(242, 242, 242);

    padding-left: 10px;
    padding-right: 10px;

    /* border: 0px;
    border-left: 5px;
    border-right: 5px;
    border-style: solid;
    border-image: linear-gradient(90deg, #F67280, #C06C84) 1; */
}

h2 {
    color: #F67280;
}

.top-h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;

    font-size: 1.75rem;
}

.p-graph {
    margin-left: 5rem;
    padding-left: 5rem;

    border: 0px;
    border-left: 3px;
    border-style: solid;
    border-image: linear-gradient(45deg, #4E9DA9, #4E9DA9) 1;

    font-size: 1.5rem;
    line-height: 3rem;
    color: rgb(242, 242, 242);
}

.bottom-h2 {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 1.75rem;
}

.border-container {
    margin-left: 5rem; 
    /* padding-left: 5rem; */

    border: 0px;
    border-left: 3px;
    border-style: solid;
    border-image: linear-gradient(45deg, #4E9DA9, #4E9DA9) 1;
}

.weird {
    margin-left: 5rem;
    color: rgb(242, 242, 242);
    font-size: 1.5rem;
}

.notable {
    margin-left: 12.5rem;
    font-size: 1.5rem;
    list-style: decimal-leading-zero;
    line-height: 3rem;
    color: rgb(159, 111, 193);
}

.content {
    color: rgb(242, 242, 242);
}

.code {
    color: rgb(78, 157, 169);
}

.nav-ul-mobile-true {
    display: none;
    list-style: none;
    justify-content: space-around;
}
/* Main Content End */

/* Footer Start */
footer {   
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    color: rgb(242, 242, 242);
    text-align: center;
}
/* Footer End */

/* Media Querry Start */
.media {
    padding-top: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;

    color: rgb(242, 242, 242);
    font-size: 1.75;
    text-align: center;
    display: none;
}

@media screen and (max-width: 350px) {
    .nav-bar {
        display: none;
    }

    .main-content {
        display: none;
    }

    .career-obj {
        display: none;
    }

    .education {
        display: none;
    }

    .positions {
        display: none;
    }

    .media {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 500px) { 
    .nav-bar {
        text-align:center;
    }

    .nav-link {
        padding-top: 1rem;
    }
    
    .main-content {
        padding-top: 10rem;
        padding-left: 1rem;
    }

    html {
        font-size: 10px;
    }

    .nav-ul-mobile-false {
        display: none;
    }

    .nav-ul-mobile-true {
        display: flex;
        padding-left: 10px;
        
    }
    
    #home-button {
        padding-left: 1rem;
    }

    .notable {
        margin-left: 5rem;
        padding-top: 0.25rem;
    }
}

@media screen and (max-width: 1200px) {
    .nav-bar {
        gap: 1rem;
    }

    .nav-ul {
        padding-left: 1rem;
        padding-top: 1rem;
    }

    h1 {
        font-size: 2rem; 
    }

    .nav-link {
        font-size: 1.5rem;
    }

    #home-button {
        font-size: 2rem;
    }

    .p-graph {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1400px) {
    .nav-link {
        font-size: 1.25rem;
    }

    #home-button {
        font-size: 1.75rem;
    }

    .p-graph {
        font-size: 1.35rem;
    }

    .nav-ul-mobile-false {
        display: none;
    }
}
/* Media Querry End */