/* Setup Start */
* {
    /* Alternative Box Model */
    box-sizing: border-box;

    /* Reset Padding & Margin On All Elements */
    padding: 0;
    margin: 0;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.55;

    min-height: 100%;
    min-width: 100%;

    background-color: rgb(53, 92, 125);
}
/* Setup End */

/* Nav-Bar Start */
.nav-bar {
    position: fixed;
    background-color: rgba(53, 92, 125, 90%);
    padding-bottom: 1vm;
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 10vm;

    align-items: baseline;
    justify-content: space-between;

    padding-right: 15vm;
    padding-left: 5vm;
}

a {
    text-decoration: none;
    color: rgb(242, 242, 242);

    border-bottom: 7.5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    border-style: solid;
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;

    border-image: linear-gradient(45deg, #F67280, #C06C84) 1;
}

.nav-link {
    font-size: 2vm;
    font-weight: 300;
    color: rgb(242, 242, 242);
}

a:hover {
    background-image: linear-gradient(45deg,#F67280, #C06C84);
    color: rgb(53, 92, 125);
}

#home-button {
    font-size: 3vm;
}
/* Nav_Bar End */

/* Main Content Start */
.main-content {
    padding-top: 7.5vm;
    padding-left: 15vm;
    padding-right: 15vm;
}

.lead {
    display: flex;
    justify-content: space-around;
}

h1 {
    display: inline;

    font-size: 3vm;
    color: rgb(242, 242, 242);

    padding-left: 10px;
    padding-right: 10px;

    border: 0px;
    border-left: 5px;
    border-right: 5px;
    border-style: solid;
    border-image: linear-gradient(90deg, #F67280, #C06C84) 1;
}

h2 {
    color: #F67280;
}

.top-h2 {
    margin-top: 2.5vm;
    margin-bottom: 1vm;

    font-size: 1.75vm;
}

.p-graph {
    margin-left: 5vm;
    padding-left: 5vm;

    border: 0px;
    border-left: 3px;
    border-style: solid;
    border-image: linear-gradient(45deg, #F67280, #C06C84) 1;

    font-size: 1.75vm;
    line-height: 3vm;
    color: rgb(242, 242, 242);
}

.bottom-h2 {
    margin-top: 1vm;
    margin-bottom: 4vm;
    font-size: 1.75vm;
}

.border-container {
    margin-left: 5vm;
    /* padding-left: 5vm; */

    border: 0px;
    border-left: 3px;
    border-style: solid;
    border-image: linear-gradient(45deg, #F67280, #C06C84) 1;
}

.weird {
    margin-left: 5vm;
    color: rgb(242, 242, 242);
    font-size: 1.75vm;
    line-height: 5vm;
}

.notable {
    margin-left: 12.5vm;
    font-size: 1.5vm;
    list-style: decimal-leading-zero;
    line-height: 3vm;
    color: rgb(246,114,128);
}

.content {
    color: rgb(242, 242, 242);
}
/* Main Content End */

/* Footer Start */
footer {   
    padding-top: 5vm;
    padding-bottom: 5vm;
    display: flex;
    justify-content: space-around;
    color: rgb(242, 242, 242);
}
/* Footer End */

/* Media Querry Start */
.media {
    padding-top: 10vm;
    padding-left: 3vm;
    padding-right: 3vm;

    color: rgb(242, 242, 242);
    font-size: 1.75;
    text-align: center;
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav-bar {
        display: none;
    }

    .main-content {
        display: none;
    }

    .career-obj {
        display: none;
    }

    .education {
        display: none;
    }

    .positions {
        display: none;
    }

    .media {
        display: flex;
        justify-content: space-around;
    }
}
/* Media Querry End */