/* Setup Start */
* {
    /* Alternative Box Model */
    box-sizing: border-box;

    /* Reset Padding & Margin On All Elements */
    padding: 0;
    margin: 0;
    
}

html {
    font-size: 18px;
}

body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.55;

    background-color: rgb(22, 22, 29);
    display: flex;
    justify-content: space-evenly;
}

html, body{
    height: 100vh;
}

.bucket{
    /* border-style: dotted;
    border-color: green; */

    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 1000px;
    width: 50%;
    min-width: 500px;
}
/* Setup End */

/* Function Start */
.function {
    /* border-style: dotted;
    border-color: red; */

    display: flex;

    font-size: 2.5rem;
}

.name {
    color: rgb(196, 88, 110);
}

.parenthesis {
    color: rgb(255, 255, 255);
}

.major {
    color: rgb(78, 157, 169);
}

.bracket {
    color: rgb(155, 155, 160);
}
/* Function Header End */

/* Intro Paragraog Start */
.intro {
    /* border-style: dotted;
    border-color: purple; */

    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1.5rem;
    color: rgb(242, 242, 242);
}

.bold {
    color: rgb(159, 111, 193);
    font-weight: 900;
}
/* Intro Paragraog End */

/* Links Start */
ul {
    display: flex;
    justify-content: space-evenly;

    list-style: none;
}

a {
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    color: rgb(242,242,242);

    border-top: 0px;
    border-bottom: 3.5px;
    border-left: 0px;
    border-right: 0px;

    border-style: solid;
    border-color: rgb(196, 88, 110);
}

.links {
    /* border-style: dotted;
    border-color: yellow; */

    margin-top: 3rem;
}

a:hover {
    opacity: 50%;
    border-color: rgb(78, 157, 169);
}
/* Links End */

/* Footer Start */
footer {
    display: flex;
    justify-content: space-evenly;    
}

.footer {
    margin-top: 3rem;

    color: rgb(242, 242, 242);
}
/* Footer End */