/* Document Setup Start */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
/* Document Setup End */


body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}