/* Document Setup Start */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
/* Document Setup End */

/* Body Start */
body {
    font-family: "Roboto", sans-serif;
}
/* Body End */

/* Body Setup Start */
.grid_container {
    display: grid;
}
/* Body Setup End */