/* Setup Start */
* {
    /* Alternative Box Model */
    box-sizing: border-box;

    /* Reset Padding & Margin On All Elements */
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.55;

    min-height: 100%;
    min-width: 100%;

    display: inline;

    background-color: rgb(53, 92, 125);
}
/* Setup End */

/* Nav-Bar Start */
.nav-bar {
    position: fixed;
    background-color: rgba(53, 92, 125, 90%);
    padding-bottom: 1vw;
}

.top-links {
    display: flex;
    list-style: none;
    gap: 10vw;

    align-items: baseline;
    justify-content: space-between;

    padding-right: 15vw;
    padding-left: 5vw;
}

a {
    text-decoration: none;
    color: rgb(242, 242, 242);

    border-bottom: 7.5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    border-style: solid;
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;

    border-image: linear-gradient(45deg, #F67280, #C06C84) 1;
}

.nav-link {
    font-size: 2vw;
    font-weight: 300;
    color: rgb(242, 242, 242);
}

a:hover {
    background-image: linear-gradient(45deg,#F67280, #C06C84);
    color: rgb(53, 92, 125);
}

#home-button {
    font-size: 3vw;
}
/* Nav_Bar End */

/* Link Start */
.link {
    padding-top: 15vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

.lead {
    display: flex;
    justify-content: space-around;
}

.link-h1 {
    display: inline;

    font-size: 3vw;
    color: rgb(242, 242, 242);

    border-bottom: 2.5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-image: linear-gradient(45deg, #F67280, #C06C84) 1;
}
/* Link End */

/* Resume Start */
.embed {
    margin-top: 5vw;

    display: flex;
    justify-content: space-around;
    background-color: rgb(53, 92, 125);
}

img {
    width: 75%;
}
/* Resume End */

/* Footer Start */
footer {   
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    justify-content: space-around;
    color: rgb(242, 242, 242);
}
/* Footer End */

/* Media Querry Start */
.media {
    padding-top: 10vw;
    padding-left: 3vw;
    padding-right: 3vw;

    color: rgb(242, 242, 242);
    font-size: 1.75;
    text-align: center;
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav-bar {
        display: none;
    }

    .link {
        display: none;
    }

    .embed {
        display: none;
    }

    .media {
        display: flex;
        justify-content: space-around;
    }
}
/* Media Querry End */