/* Setup Start */
* {
    /* Alternative Box Model */
    box-sizing: border-box;

    /* Reset Padding & Margin On All Elements */
    padding: 0;
    margin: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.55;

    min-height: 100%;
    min-width: 100%;

    display: inline;

    background-color: rgb(22, 22, 29);
}
/* Setup End */

/* Nav-Bar Start */
.nav-bar {
    position: fixed;
    background-color: rgba(22, 22, 29, 90%);
    padding-bottom: 1rem;

    width: 100%;
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 5rem;

    align-items: baseline;
    justify-content: space-between;

    padding-left: 5rem;
    padding-right: 5rem;
}

.nav-ul-mobile-false {
    display: flex;
    list-style: none;
    gap: 5rem;

    align-items: baseline;
    justify-content: space-between;

    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
}

.nav-ul-mobile-true {
    display: none;
    list-style: none;
    justify-content: space-around;
}

.top-links {
    display: flex;
    list-style: none;
    gap: 5rem;

    align-items: baseline;
    justify-content: space-between;

    padding-left: 5rem;
    padding-right: 5rem;
}

a {
    text-decoration: none;
    color: rgb(242, 242, 242);

    border-bottom: 3.5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    border-style: solid;
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;

    border-image: linear-gradient(45deg, #F67280, #C06C84) 1;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(242, 242, 242);
}

a:hover {
    /* background-image: linear-gradient(45deg,#C4586E, #C4586E); */
    color: rgb(78, 157, 169);
    font-weight: 900;
}

#home-button {
    font-size: 2.5rem;
}
/* Nav_Bar End */

/* Link Start */
.link {
    padding-top: 10rem;
    /* padding-left: 15rem;
    padding-right: 15rem; */
}

.lead {
    display: flex;
    justify-content: space-around;
}

.link-h1 {
    display: inline;

    font-size: 2rem;
    color: rgb(242, 242, 242);
}
/* Link End */

/* Resume Start */
.embed {
    margin-top: 5rem;

    display: flex;
    justify-content: space-around;
    background-color: rgb(53, 92, 125);
}

img {
    width: 75%;
}
/* Resume End */

/* Footer Start */
footer {   
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    color: rgb(242, 242, 242);
    text-align: center;
}
/* Footer End */

/* Media Querry Start */
.media {
    padding-top: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;

    color: rgb(242, 242, 242);
    font-size: 1.75;
    text-align: center;
    display: none;
}

@media screen and (max-width: 350px) {
    .nav-bar {
        display: none;
    }

    .link {
        display: none;
    }

    .embed {
        display: none;
    }

    .media {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 10px;
    }

    .nav-bar {
        text-align: center;
    }

    .nav-link {
        padding-top: 1rem;
    }

    .nav-ul-mobile-false {
        display: none;
    }

    .nav-ul-mobile-true {
        display: flex;
        padding-left: 10px;
        
    }

    #home-button {
        padding-left: 1rem;
    }

    .link-h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .nav-bar {
        gap: 1rem;
    }

    .top-links {
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    #home-button {
        font-size: 2rem;
    }

    .link-h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1400px) {
    .nav-link {
        font-size: 1.25rem;
    }

    #home-button {
        font-size: 1.75rem;
    }
}
/* Media Querry End */