/* Document Setup Start */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
/* Document Setup End */

/* Body Setup Start */
body {
    font-family: "Roboto", sans-serif;
    
    color: white;
  
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure body covers full viewport height */
}
/* Body Setup End */

/* Document CSS START */
#hero_logo {
    width: 75px;

    padding-top: 25px;
    padding-bottom: 25px;
}
/* Document CSS END */

/* Welcome Button Start */
#welcome_button {  
    border: none;
    cursor: pointer;
  
    margin-top: 25px;
    padding: 5px;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;

    color: white;
}

#welcome_button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}
  
#welcome_button:active {
    background-color: rgba(255, 255, 255, 0.1);
}
/* Welcome Button Start */

/* Text Content Start */
#welcome {
    font-size: 20px;
    padding-bottom: 12.5px;
}
/* Text Content End */