<div class="container">
    <div class="header-row">
        <div class="left-items">
            <!-- TODO: Update headshot from placeholder svg -->
            <img src="../../../assets/images/lato_headshot_circle.png" alt="Langs Headshot">

            <p>{{ aboutMePosts[currentPost].title }} </p>
        </div>

        <div class="page-navigator">
            <div *ngFor="let button of aboutMePosts; let i = index">
                <button (click)="updateCurrentPost(i)" [ngStyle]="{'color': textColor(i)}"> {{ button.title }} </button>
            </div>
        </div>
    </div>

    <div class="current-content">
        <div class="content">{{ aboutMePosts[currentPost].content }}</div>
    </div>

    <div class="ticker-buttons">
        <div class="ticker-buttons-container">
            <button (click)="tickerButton('down')"><img src="../../../assets/svg/chevron.down.svg" alt="chevron down"></button>
            <button (click)="tickerButton('up')"><img src="../../../assets/svg/chevron.up.svg" alt="chevron up"></button>
        </div>
    </div>
</div>
