<div class="container">
    <div class="hero-logo">
        <img src="../../../assets/svg/lato-large.svg" alt="LATO Logo">
    </div>

    <div class="welcome-message">
        <h1>Welcome</h1>

        <p>
            My name is <span>Lang Towl</span>. I am a senior at Florida Polytechnic <br>
            University studying Computer Engineering concentrated <br>
            in Machine Intelligence.
        </p>

        <div class="button-container">
            <button>Learn more</button>
        </div>
    </div>
</div>
