:root {
    --leading: #1B2640;
    --middle: #321D39;
    --trailing: #401A35;
    --accent: #FFA500;
}


body {
    background-image: linear-gradient(to right, var(--leading), var(--middle), var(--trailing));

    font-family: 'Lato', sans-serif;
}